{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>리뷰 이미지 수정</title>
<!-- 리뷰 이미지 수정 페이지  -->
{% endblock %}

{% block content %}

<div>현재 이미지</div>
<img src="{{ image.url }}" style="width: 20rem; height: 20rem;">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.reviewImage1 }}
    <br>
    <input type="submit" value="수정 완료">
</form>
<a href="{% url 'firstReviewImageDelete' review.id %}"><button>이미지 삭제</button></a>
<a href="{% url 'reviewDetail' review.id %}"><button>취소</button></a>

{% endblock %}