{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="format-detection" content="telephone=no" />
    <title>Welcome to LionStore</title>
</head>
{% block head_default %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/intro.css' %}">
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<body>
    <article>
        <header class="v-header container">
            <div class="fullscreen-video-wrap">
                <video src="{% static 'Writing.mp4'%}" width="100%" height="100%" controls=1 autoplay muted loop="true"
                    allowfullscreen></video>
    
                <div style="text-align: center;">
                    <div class="header-overlay">
                        <div class="header-content">
                            <h1>Welcome to Lion Store!</h1>
                            <p>내 마음에 꼭 드는 펜을 찾고 싶을 때 <br>
                                마음에 드는 펜을 발견하고 공유하고 싶을 때 <br>
                                사자네 문방구를 이용하세요</p>
                                <a href="{% url 'selectCustomerType' %}"><button>회원가입</button></a>
                                <a href="{% url 'mainPage' %}"><button>HOME</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </article>
</body>
{% endif %}
{% endblock %}
</html>
