{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 검색 결과</title>
<!-- 제품 검색 결과 리스트가 노출되며, Pagination을 사용할 경우 url이 살짝 달라질 수도 있다.
     각 제품 목록 구성 요소를 클릭하면 productDetail.html로 넘어간다. -->
{% endblock %}

{% block content %}

<h4 style="text-align: center; padding: 1em 3rem 0 3rem; font-family: 'yg-jalnan'; color:#663e27;"><i class="fa fa-edit"></i>
     {{ statusMessage }}</h4><br>
<br><br><br>

<article style="margin: 0 2rem;">
     <!-- 인기순 정렬로 전환 -->
     {% if popularitySort %}
     <div style="text-align: left; font-family: 'yg-jalnan'; padding-left: 0.3rem;"><i class="fa fa-sort" aria-hidden="true"></i><span>인기순 정렬</span> / <span><a href="{% url 'keywordSearchResult' %}?sort=new&keywordQuery={{ keywordQuery }}">최신순정렬</a></span></div>
     <!-- 최신순 정렬로 전환 -->
     {% else %}
     <div style="text-align: left; font-family: 'yg-jalnan'; padding-left: 0.3rem;"><i class="fa fa-sort" aria-hidden="true"></i><span><a href="{% url 'keywordSearchResult' %}?sort=popularity&keywordQuery={{ keywordQuery }}">인기순 정렬</a></span> / <span>최신순정렬</span></div>
     {% endif %}

     <div class="reviewContainer">
<div class="row property__gallery">
     {% for product in searchResult %}
     <div class="col-lg-3 col-md-4 col-sm-6 mix women">
          <div class="product__item">
               <div class="product__item__pic set-bg" data-setbg="{{ product.productImage.url }}">
                    <ul class="product__hover">
                         <li><a href="{{ product.productImage.url }}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                    </ul>
               </div>
               <div class="product__item__text">
                    <div><a href="{% url 'productDetail' product.id %}">{{ product }}</a></div>                    <div class="rating">
                         <div class="rateit svg" data-rateit-value="{{ product.averageScore }}"
                              data-rateit-readonly="true" data-rateit-starwidth="15" data-rateit-starheight="15">
                         </div>
                    </div>
               </div>
          </div>
     </div>
     {% endfor %}
</div>
</div>
</article>


{% endblock %}