{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>메인 페이지</title>
<!-- 프로젝트 메인 페이지 
     (인기/신규 리뷰 등의 정보가 표시됨) -->
{% endblock %}

{% block content %}
<form action="{% url 'keywordSearchResult' %}" method="GET">
     <div>키워드 검색</div>
     <div>입력받은 키워드가 제품명에 포함된 제품을 검색합니다.</div>
     <input type="search" name="keywordQuery">
     <input type="text" name="sort" value="popularity" style="display: none; visibility: hidden;">
     <input type="submit" value="검색">
</form>

<br>

<form action="{% url 'tagSearchResult' %}" method="GET">
     <div>태그 검색</div>
     <div>공백으로 나뉘어 입력된 태그들과 적어도 하나 겹치는 제품을 검색합니다.</div>
     <input type="search" name="tagQuery">
     <input type="submit" value="검색">
</form>

<br>

<!-- 기본값 : 인기순 정렬 -->
<div><a href="{% url 'productList' 볼펜.id %}?sort=popularity">볼펜</a></div>
<div><a href="{% url 'productList' 만년필.id %}?sort=popularity">만년필</a></div>
<div><a href="{% url 'productList' 캘리그라피펜.id %}?sort=popularity">캘리그라피펜</a></div>
<div><a href="{% url 'productList' 연필.id %}?sort=popularity">연필</a></div>
<div><a href="{% url 'productList' 색연필.id %}?sort=popularity">색연필</a></div>
<div><a href="{% url 'productList' 형광펜.id %}?sort=popularity">형광펜</a></div>
<div><a href="{% url 'productList' 샤프펜슬.id %}?sort=popularity">샤프펜슬</a></div>
<div><a href="{% url 'productList' 유성펜.id %}?sort=popularity">유성펜</a></div>
<div><a href="{% url 'productList' 사인펜.id %}?sort=popularity">사인펜</a></div>
<div><a href="{% url 'productList' 젤펜.id %}?sort=popularity">젤펜</a></div>
<div><a href="{% url 'productList' 기타.id %}?sort=popularity">기타</a></div>

<hr>

{% if user.is_authenticated %}
     {% if not error %}
     <div>추천 리뷰 : 리뷰 성향이 비슷한 상위 {{ topSimilarity_users_len }}명의 유저가 작성한 리뷰</div>
          {% for reviewer in topSimilarity_users %}
          <div>
               <div>{{ reviewer.nickname }}님의 리뷰</div>
               {% for reviewList in topSimilarityReviews %}
                    {% for review in reviewList %}
                    <div><a href="{% url 'reviewDetail' review.id %}">{{ review }}</a></div>
                    {% endfor %}
               {% endfor %}
          </div>
          <br>
          {% endfor %}
     {% else %}
     <div>데이터가 부족해 리뷰 추천이 불가능합니다 ㅠㅠ 리뷰를 작성해보시는건 어떨까요?</div>
     {% endif %}
{% else %}
     <div>추천 리뷰 기능을 이용하시려면 <a href="{% url 'logIn' %}">로그인</a>하시거나 <a href="{% url 'selectCustomerType' %}">회원가입</a>해주세요!</div>
     <br>
{% endif %}

<div>최신 리뷰</div>
<div class="row property__gallery">
{% for newReview in newReviews %}
<div>{{ newReview.reviewImage1.url }}</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix women">
     <div class="product__item">
         <div class="product__item__pic set-bg" data-setbg="{{ newReview.reviewImage1.url }}">
             <ul class="product__hover">
                 <li><a href="{{ newReview.reviewImage1.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                 <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                 <li><a href="#"><span class="icon_bag_alt"></span></a></li>
             </ul>
         </div>
         <div class="product__item__text">
             <h6><a href="#">Buttons tweed blazer</a></h6>
             <div class="rating">
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
             </div>
             <div class="product__price">$ 59.0</div>
         </div>
     </div>
 </div>

<div><a href="{% url 'reviewDetail' newReview.id %}">{{ newReview }}</a></div>
{% endfor %}
</div>

<br>

<div>인기 리뷰</div>
{% for popularReview in popularReviews %}
<div><a href="{% url 'reviewDetail' popularReview.id %}">{{ popularReview }}</a></div>
{% endfor %}

{% endblock %}