{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>메인 페이지</title>
<!-- 프로젝트 메인 페이지 
     (인기/신규 리뷰 등의 정보가 표시됨) -->
{% endblock %}

{% block content %}
<div>메인 페이지입니다.</div>
<div><a href="{% url 'productList' 볼펜.id %}">볼펜</a></div>
<div><a href="{% url 'productList' 만년필.id %}">만년필</a></div>
<div><a href="{% url 'productList' 캘리그라피펜.id %}">캘리그라피펜</a></div>
<div><a href="{% url 'productList' 연필.id %}">연필</a></div>
<div><a href="{% url 'productList' 색연필.id %}">색연필</a></div>
<div><a href="{% url 'productList' 형광펜.id %}">형광펜</a></div>
<div><a href="{% url 'productList' 샤프펜슬.id %}">샤프펜슬</a></div>
<div><a href="{% url 'productList' 유성펜.id %}">유성펜</a></div>
<div><a href="{% url 'productList' 사인펜.id %}">사인펜</a></div>
<div><a href="{% url 'productList' 젤펜.id %}">젤펜</a></div>
<div><a href="{% url 'productList' 기타.id %}">기타</a></div>

<hr>

<div>최신 리뷰</div>
{% for newReview in newReviews %}
<div><a href="{% url 'reviewDetail' newReview.id %}">{{ newReview }}</a></div>
{% endfor %}

<br>

<div>인기 리뷰</div>
{% for popularReview in popularReviews %}
<div><a href="{% url 'reviewDetail' popularReview.id %}">{{ popularReview }}</a></div>
{% endfor %}

{% endblock %}