{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>메인 페이지</title>
<!-- 프로젝트 메인 페이지 
     (인기/신규 리뷰 등의 정보가 표시됨) -->
{% endblock %}

{% block content %}
<div>
     <div>키워드 검색</div>
     <div>입력받은 키워드가 제품명에 포함된 제품을 검색합니다.</div>
     <input type="search" name="keywordQuery">
     <input type="text" name="sort" value="popularity" style="display: none; visibility: hidden;">
     <input type="submit" value="검색">
</div>

<br>

<div>
     <div>태그 검색</div>
     <div>공백으로 나뉘어 입력된 태그들과 적어도 하나 겹치는 제품을 검색합니다.</div>
     <input type="search" name="tagQuery">
     <input type="submit" value="검색">
</div>

<br>

<!-- 기본값 : 인기순 정렬 -->
<div><a href="{% url 'productList' 볼펜.id %}?sort=popularity">볼펜</a></div>
<div><a href="{% url 'productList' 만년필.id %}?sort=popularity">만년필</a></div>
<div><a href="{% url 'productList' 캘리그라피펜.id %}?sort=popularity">캘리그라피펜</a></div>
<div><a href="{% url 'productList' 연필.id %}?sort=popularity">연필</a></div>
<div><a href="{% url 'productList' 색연필.id %}?sort=popularity">색연필</a></div>
<div><a href="{% url 'productList' 형광펜.id %}?sort=popularity">형광펜</a></div>
<div><a href="{% url 'productList' 샤프펜슬.id %}?sort=popularity">샤프펜슬</a></div>
<div><a href="{% url 'productList' 유성펜.id %}?sort=popularity">유성펜</a></div>
<div><a href="{% url 'productList' 사인펜.id %}?sort=popularity">사인펜</a></div>
<div><a href="{% url 'productList' 젤펜.id %}?sort=popularity">젤펜</a></div>
<div><a href="{% url 'productList' 기타.id %}?sort=popularity">기타</a></div>

<hr>
<a href="{% url 'searchMain' %}"><button class="btn btn-primary">검색</button></a>
<hr>

<div>최신 리뷰</div>
{% for newReview in newReviews %}
<div><a href="{% url 'reviewDetail' newReview.id %}">{{ newReview }}</a></div>
{% endfor %}

<br>

<div>인기 리뷰</div>
{% for popularReview in popularReviews %}
<div><a href="{% url 'reviewDetail' popularReview.id %}">{{ popularReview }}</a></div>
{% endfor %}

{% endblock %}