{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>상품별 디테일 페이지</title>
<!-- 상품별 디테일 페이지
     상품 정보, 리뷰 목록, 웹 판매 정보 목록, 문구점 정보 목록이 노출됨 -->
{% endblock %}

{% block content %}
<a href="{% url 'productList' product.category.id %}">제품 목록 보기</a>

<div>제품명 : {{ product.name }}</div>
<div>제조사 : {{ product.manufacturer }}</div>
<div>제품 설명 : {{ product.description }}</div>
<br>

{{ likeMessage }}
<a href="{% url 'productLikeProcess' product_id=product.id %}">
     {% if userLike %}
     <!-- 유저가 좋아요를 누른 경우 -->
     ❤️
     {% else %}
     <!-- 유저가 좋아요를 누르지 않은 경우 -->
     🖤
     {% endif %}
</a>
<hr>
<div><a href="{% url 'reviewCreate' product.id %}">새 리뷰 작성</a></div>
{% for review in reviews %}
<div><a href="{% url 'reviewDetail' review.id %}">리뷰 {{ review.id }} ({{ review.pub_date | date:"Y/m/d a h:i" }})</a></div>
{% endfor %}

<hr>
<div style="font-weight: bold;">태그목록</div>
{% for tag in tags %}
<div>{{ tag }}</div>
{% endfor %}

<hr>

관련 영상 <br>
{% for linkHash in videoLinkHashs %}
<iframe width="200" height="180" src="https://www.youtube.com/embed/{{ linkHash }}" frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endfor %}
{% endblock %}