{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>상품별 디테일 페이지</title>
<!-- 상품별 디테일 페이지
     상품 정보, 리뷰 목록, 웹 판매 정보 목록, 문구점 정보 목록이 노출됨 -->
{% endblock %}

{% block content %}
<a href="{% url 'productList' product.category.id %}">제품 목록 보기</a>

<div>제품명 : {{ product.name }}</div>
<div>제조사 : {{ product.manufacturer }}</div>
<div>제품 설명 : {{ product.description }}</div>
<br>

{{ likeMessage }}
<a href="{% url 'productLikeProcess' product_id=product.id %}">
     {% if userLike %}
     <!-- 유저가 좋아요를 누른 경우 -->
     ❤️
     {% else %}
     <!-- 유저가 좋아요를 누르지 않은 경우 -->
     🖤
     {% endif %}
</a>

<hr>

<!-- 인기순 정렬로 전환 -->
{% if popularitySort %}
<div><span>인기순 정렬</span> / <span><a href="{% url 'productDetail' product.id %}?sort=new">최신순정렬</a></span></div>
<!-- 최신순 정렬로 전환 -->
{% else %}
<div><span><a href="{% url 'productDetail' product.id %}?sort=popularity">인기순 정렬</a></span> / <span>최신순정렬</span></div>
{% endif %}

<div><a href="{% url 'reviewCreate' product.id %}">새 리뷰 작성</a></div>
{% for review in reviews %}
<div><a href="{% url 'reviewDetail' review.id %}">리뷰 {{ review.id }} ({{ review.pub_date | date:"Y/m/d a h:i" }})</a></div>
{% endfor %}

<!-- 인기순 정렬인 경우 -->
{% if popularitySort %}

     {% if reviews.has_previous %}
     <a href="?page=1&sort=popularity">맨 앞으로</a>
     <a href="?page={{ reviews.previous_page_number }}&sort=popularity">이전으로</a>
     {% endif %}
     <span>{{ reviews.number }}</span>
     <span>/</span>
     <span>{{ reviews.paginator.num_pages }}</span>
     {% if reviews.has_next %}
     <a href="?page={{ reviews.next_page_number }}&sort=popularity">다음으로</a>
     <a href="?page={{ reviews.paginator.num_pages }}&sort=popularity">맨 뒤로</a>
     {% endif %}

     <hr>
     <div style="font-weight: bold;">태그목록</div>
     {% for tag in tags %}
     <div>{{ tag }}</div>
     {% endfor %}

<!-- 최신순 정렬인 경우 -->
{% else %}

     {% if reviews.has_previous %}
     <a href="?page=1&sort=new">맨 앞으로</a>
     <a href="?page={{ reviews.previous_page_number }}&sort=new">이전으로</a>
     {% endif %}
     <span>{{ reviews.number }}</span>
     <span>/</span>
     <span>{{ reviews.paginator.num_pages }}</span>
     {% if reviews.has_next %}
     <a href="?page={{ reviews.next_page_number }}&sort=new">다음으로</a>
     <a href="?page={{ reviews.paginator.num_pages }}&sort=new">맨 뒤로</a>
     {% endif %}

     <hr>
     <div style="font-weight: bold;">태그목록</div>
     {% for tag in tags %}
     <div>{{ tag }}</div>
     {% endfor %}

{% endif %}

<hr>

<!-- 웹 판매자인 경우에만 판매정보 입력 가능 -->
{% if user.is_WebSeller %}
<a href="{% url 'webSellInfoCreate' product_id=product.id %}">웹 판매정보 추가</a>
{% endif %}

{% for info in webSellInfoList %}
<div>
     <div>판매자 : {{ info.seller.nickname }}</div>
     <div>가격 : {{ info.price }}원</div>
     <div><a href="{% url 'redirectExternalLink' link=info.link %}">구입하러 가기</a></div>
     {% if info.seller == user %}
     <div>
          <div><a href="{% url 'webSellInfoDelete' product_id=product.id webSellInfo_id=info.id %}">판매정보 삭제하기</a></div>
          <div><a href="{% url 'webSellInfoModify' product_id=product.id webSellInfo_id=info.id %}">판매정보 수정하기</a></div>
     </div>
     {% endif %}
</div>
<br>
{% endfor %}

<hr>

<!-- 문구점 사장님인 경우에만 판매정보 입력 가능 -->
{% if user.is_Stationer %}
<div><a href="{% url 'stationerSellInfoCreate' product_id=product.id %}">문구점 판매정보 추가</a></div>
{% endif %}

<!-- 판매정보가 등록된 경우 -->
{% if hasStationerSellInfo %}
<!-- 위치 정보가 입력되어 있는가? -->
{% if nullLocation %}
<div>위치 정보가 입력되지 않았습니다.</div>
<div>해당 기능을 이용하시려면 <a href="{% url 'setLocation' %}">위치를 설정</a>해주세요.</div>
{% else %}
<div id="map" style="width:100%;height:350px;"></div>
{% endif %}

{% for info in stationerSellInfoList %}
<div>
     <div>판매자 : {{ info.seller.nickname }}</div>
     <div>가격 : {{ info.price }}원</div>
     <div>위도 : {{ info.seller.latitude }}</div>
     <div>경도 : {{ info.seller.longitude}}</div>
     {% if info.seller == user %}
     <div>
          <div><a href="{% url 'stationerSellInfoDelete' product_id=product.id stationerSellInfo_id=info.id %}">판매정보 삭제하기</a></div>
          <div><a href="{% url 'stationerSellInfoModify' product_id=product.id stationerSellInfo_id=info.id %}">판매정보 수정하기</a></div>
     </div>
     {% endif %}
</div>
<br>
{% endfor %}

<!-- 판매정보가 등록되지 않은 경우 -->
{% else %}
<div>판매정보가 등록되지 않았습니다!</div>
{% endif %}


<script>
// 웹 판매자인 경우
{% if user.is_WebSeller %}
// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다   
      });
    
} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    var locPosition = new kakao.maps.LatLng({{ centerLatitude }}, {{ centerLongitude }});
}

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: locPosition, // 지도의 중심좌표
        level: {{ zoomLevel }} // 지도의 확대 레벨
    };

// 웹 판매자가 아닌 경우
{% else %}
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng({{ centerLatitude }}, {{ centerLongitude }}), // 지도의 중심좌표
        level: {{ zoomLevel }} // 지도의 확대 레벨
    };
{% endif %}



var map = new kakao.maps.Map(mapContainer, mapOption);

{% for info in stationerSellInfoList %}

// 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng({{ info.seller.latitude }}, {{ info.seller.longitude }}); 

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

var iwContent = '<div style="padding: 2px;">{{ info.seller.nickname }} : {{ info.price }}</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new kakao.maps.LatLng({{ info.seller.latitude }}, {{ info.seller.longitude }}); //인포윈도우 표시 위치입니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    position : iwPosition, 
    content : iwContent 
});
  
// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
infowindow.open(map, marker); 

{% endfor %}
</script>
<hr>

관련 영상 <br>
{% for linkHash in videoLinkHashs %}
<iframe width="200" height="180" src="https://www.youtube.com/embed/{{ linkHash }}" frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endfor %}
{% endblock %}