{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 목록</title>
<!-- 해당 카테고리의 제품 목록이 표시됨 -->
{% endblock %}

{% block content %}
<a href="{% url 'mainPage' %}">메인 페이지로 가기</a>

<h3>{{ category.categoryName }} 카테고리의 제품 목록입니다.</h3>

{% for product in products %}
<div><a href="{% url 'productDetail' product.id %}">{{ product }}</a></div>
{% endfor %}

{% if products.has_previous %}
<a href="?page=1">맨 앞으로</a>
<a href="?page={{ products.previous_page_number }}">이전으로</a>
{% endif %}
<span>{{ products.number }}</span>
<span>/</span>
<span>{{ products.paginator.num_pages }}</span>
{% if products.has_next %}
<a href="?page={{ products.next_page_number }}">다음으로</a>
<a href="?page={{ products.paginator.num_pages }}">맨 뒤로</a>
{% endif %}
{% endblock %}