{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 등록 요청 상세정보</title>
<!-- 제품 등록 정보 별 상세 정보 페이지 : 수정/삭제 기능은 이 페이지에서 접근 가능함 -->
{% endblock %}

{% block content %}
<article style="padding: 5% 5%;">
    <p id="link_nav" style="margin-left: -5px;">
        <a href="{% url 'productRequestList' %}"><i class="fa fa-list" aria-hidden="true"></i></i>Product Request</a> >
        <span id="current_location">Product Request Detail</span>
    </p>
<br><br><br>
    <div>제품명: {{ productRequest.productName }}</div>
    <hr>
    <div>제조사: {{ productRequest.productBrand }}</div>
    <hr>
    <div>제품 설명: {{ productRequest.productDescription }}</div>
    <hr>
    <br>
    <a href="{% url 'productRequestList' %}">뒤로가기</a>
    / <a href="{% url 'productRequestModify' productRequest.id%}">수정하기</a>
    / <a href="{% url 'productRequestDelete' productRequest.id%}">삭제하기</a>

</article>
{% endblock %}