{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 등록 요청 리스트</title>
<!-- 등록이 요청된 제품들의 리스트가 노출됨 -->
{% endblock %}

{% block content %}

<h3>등록이 요청된 상품들의 리스트가 노출됩니다.</h3>
<br>
<a href="{% url 'newProductRequest' %}">신규 상품 등록 요청하기</a>
<br><br><br>

<h3>등록 요청한 상품 리스트</h3>
<div>
    {% for productRequest in productRequests %}
        <hr>
        <a href="{% url 'productRequestDetail' productRequest.id%}">
        <p>{{productRequest}}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}