{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>리뷰 수정</title>
<!-- 리뷰의 내용을 수정함 -->
{% endblock %}

{% block content %}

<form action="{% url 'reviewUpdate' review.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    한줄평 <br>
    <input type="text" name="comment" id="comment" value="{{ review.comment }}">
    <br>

    장점 <br>
    <textarea name="goodPoint" id="goodPoint" cols="30" rows="10">{{ review.goodPoint }}</textarea>
    <br>

    장점 <br>
    <textarea name="weakPoint" id="weakPoint" cols="30" rows="10" >{{ review.weakPoint }}</textarea>
    <br>

    태그 목록(공백 문자로 구분됩니다.) <br>
    <textarea name="rawTagString" id="rawTagString" cols="30" rows="10" >{{ review.rawTagString }}</textarea>
    <br>

    총점 <br>
    <input type="rating" name="totalScore" value="{{ totalScore.score }}" required="" id="id_totalScore" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_totalScore" class="rateit svg" data-rateit-backingfld="#id_totalScore" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    그립감 <br>
    <input type="rating" name="grip" value="{{ grip.score }}" required="" id="id_grip" min="0" max="5" step="1" style="display: none;">
    <div id="star_id_grade" class="rateit svg" data-rateit-backingfld="#id_grip" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    수명 <br>
    <input type="rating" name="life" value="{{ life.score }}" required="" id="id_life" min="0" max="5" step="1" style="display: none;">
    <div id="star_id_life" class="rateit svg" data-rateit-backingfld="#id_life" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    내구도 <br>
    <input type="rating" name="durability" value="{{ durability.score }}" required="" id="id_durability" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_durability" class="rateit svg" data-rateit-backingfld="#id_durability" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    디자인 <br>
    <input type="rating" name="design" value="{{ design.score }}" required="" id="id_design" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_design" class="rateit svg" data-rateit-backingfld="#id_design" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    사용감 <br>
    <input type="rating" name="texture" value="{{ texture.score }}" required="" id="id_texture" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_texture" class="rateit svg" data-rateit-backingfld="#id_texture" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    가성비 <br>
    <input type="rating" name="costEffetiveness" value="{{ costEffetiveness.score }}" required="" id="id_costEffetiveness" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_costEffetiveness" class="rateit svg" data-rateit-backingfld="#id_costEffetiveness"
        data-rateit-starwidth="15" data-rateit-starheight="15"></div>
    <br>

    범용성 <br>
    <input type="rating" name="versatility" value="{{ review.versatility.score }}" required="" id="id_versatility" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_versatility" class="rateit svg" data-rateit-backingfld="#id_versatility" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    <button type="submit">수정 완료</button>
</form>

{% endblock %}