{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>리뷰 수정</title>
<!-- 리뷰의 내용을 수정함 -->
<style>
    #mainContainer {
         width: 80%;
         text-align: center;
         margin: 2rem auto;
    }
    #product_image {
         display: block;
         max-width: 700px;
         max-height: 550px;
         width: auto;
         height: auto;
    }
    #no_review_message {
         text-align: center;
    }
    #no_review_message div {
         font-family: 'yg-jalnan';
         color:#663e27;
    }
    iframe {
         display:block; 
         width:70vw; 
         height: 80vh
    }
    @font-face {
       font-family: 'yg-jalnan';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'NanumSquareRound';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

   textarea.noresize {
       border: 1.5px solid #66666644; 
       width: 100%; 
       height: 140px;
       border-radius: 7px; 
       resize: none
   }

   textarea.tag {
       border: 1.5px solid #66666644; 
       width: 100%; 
       height: 80px;
       border-radius: 7px; 
       resize: none
   }

</style>
{% endblock %}

{% block content %}
<div id="mainContainer container" style="width: 80%; margin: 2rem auto; padding: 2rem 5%;">
    <div class="product_detail col container">
        <div class="product_detail row" style="text-align: left; display: grid; grid-template-rows: 1fr 0.4fr; width: 100%;">
            <p class="h2" style="text-align: left; font-family: 'yg-jalnan'; color: hsl(32, 81%, 44%);">리뷰 수정하기</p>
            <div class="footer__newslatter_2" style="text-align: left; width: 100%;">
                <form action="{% url 'reviewUpdate' review.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="h5" style="text-align: left; font-family: 'yg-jalnan';">한줄평</p>
                    <input type="text" name="comment" id="comment" value="{{ review.comment }}">
                </form>
            </div>
        </div>  
    </div>
    <hr>
    <div class="product_detail col container">
        <div class="scoreContainer" style="margin-top: 1.5rem;">
            <div class="row">
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">그립감</div>
                    <input type="rating" name="grip" value="{{ review.grip.score }}" required="" id="id_grip" min="0" max="5" step="1" style="display: none;">
                    <div id="star_id_grade" class="rateit svg" data-rateit-backingfld="#id_grip" data-rateit-starwidth="15"
                        data-rateit-starheight="15"></div>
                </div>
            <br>
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">수명</div>
                    <input type="rating" name="life" value="{{ review.life.score }}" required="" id="id_life" min="0" max="5" step="1" style="display: none;">
                    <div id="star_id_life" class="rateit svg" data-rateit-backingfld="#id_life" data-rateit-starwidth="15"
                       data-rateit-starheight="15"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">내구도</div>
                    <input type="rating" name="durability" value="{{ review.durability.score }}" required="" id="id_durability" min="0" max="5" step="1"
                        style="display: none;">
                    <div id="star_id_durability" class="rateit svg" data-rateit-backingfld="#id_durability" data-rateit-starwidth="15"
                        data-rateit-starheight="15"></div>
                </div>
            <br>
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">디자인</div>
                    <input type="rating" name="design" value="{{ review.design.score }}" required="" id="id_design" min="0" max="5" step="1"
                        style="display: none;">
                    <div id="star_id_design" class="rateit svg" data-rateit-backingfld="#id_design" data-rateit-starwidth="15"
                        data-rateit-starheight="15"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">사용감</div>
                    <input type="rating" name="texture" value="{{ review.texture.score }}" required="" id="id_texture" min="0" max="5" step="1"
                        style="display: none;">
                    <div id="star_id_texture" class="rateit svg" data-rateit-backingfld="#id_texture" data-rateit-starwidth="15"
                        data-rateit-starheight="15"></div>
                </div>
            <br>
                <div class="col">
                    <div class="h6" style="font-family: 'yg-jalnan'; font-weight: bold;">가성비</div>
                    <input type="rating" name="costEffetiveness" value="{{ review.costEffetiveness.score }}" required="" id="id_costEffetiveness" min="0" max="5" step="1"
                        style="display: none;">
                    <div id="star_id_costEffetiveness" class="rateit svg" data-rateit-backingfld="#id_costEffetiveness"
                        data-rateit-starwidth="15" data-rateit-starheight="15"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="product_detail col container">
        <div class="product_detail row" style="text-align: left; display: grid; grid-template-rows: 1fr 1.5fr;">
            <br>
            <p class="h5" style="text-align: left; font-family: 'yg-jalnan';">장점</p>
            <textarea class="noresize" name="goodPoint" id="goodPoint">{{ review.goodPoint }}</textarea>
            <br>
            <br>
            <p class="h5" style="text-align: left; font-family: 'yg-jalnan';">단점</p>
            <textarea class="noresize" name="weakPoint" id="weakPoint">{{ review.weakPoint }}</textarea>
            <br>
            <br>
        </div>
    </div>
    <div class="product_detail col container">
        <div class="product_detail row" style="text-align: left; display: grid; grid-template-rows: 1fr 1.5fr;">
            <p class="h5" style="text-align: left; font-family: 'yg-jalnan';">태그 목록 (공백 문자로 구분됩니다.)</p>
            <textarea class="tag" name="rawTagString" id="rawTagString">{{ review.rawTagString }}</textarea>
            <br><br>
            <button type="submit" class="modify-btn" style="font-family:'NanumSquareRound'; font-size: 19px;">수정 완료</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}