{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>리뷰 수정</title>
<!-- 리뷰의 내용을 수정함 -->
<style>
    #mainContainer {
         width: 80%;
         text-align: center;
         margin: 2rem auto;
    }
    #product_image {
         display: block;
         max-width: 700px;
         max-height: 550px;
         width: auto;
         height: auto;
    }
    #no_review_message {
         text-align: center;
    }
    #no_review_message div {
         font-family: 'yg-jalnan';
         color:#663e27;
    }
    iframe {
         display:block; 
         width:70vw; 
         height: 80vh
    }
    @font-face {
       font-family: 'yg-jalnan';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'NanumSquareRound';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

</style>
{% endblock %}

{% block content %}
<div class="h3" style="text-align: left; font-family: 'yg-jalnan';">리뷰수정하기</div>

<div class="reviewmodify">
    <form action="{% url 'reviewUpdate' review.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">한줄평</p>
        <input type="text" name="comment" id="comment" value="{{ review.comment }}">
        <br>
</div>
        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">그립감</p>
        <input type="rating" name="grip" value="{{ review.grip.score }}" required="" id="id_grip" min="0" max="5" step="1" style="display: none;">
        <div id="star_id_grade" class="rateit svg" data-rateit-backingfld="#id_grip" data-rateit-starwidth="15"
            data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">수명</p>
        <input type="rating" name="life" value="{{ review.life.score }}" required="" id="id_life" min="0" max="5" step="1" style="display: none;">
        <div id="star_id_life" class="rateit svg" data-rateit-backingfld="#id_life" data-rateit-starwidth="15"
            data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">내구도</p>
        <input type="rating" name="durability" value="{{ review.durability.score }}" required="" id="id_durability" min="0" max="5" step="1"
            style="display: none;">
        <div id="star_id_durability" class="rateit svg" data-rateit-backingfld="#id_durability" data-rateit-starwidth="15"
            data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">디자인</p>
        <input type="rating" name="design" value="{{ review.design.score }}" required="" id="id_design" min="0" max="5" step="1"
            style="display: none;">
        <div id="star_id_design" class="rateit svg" data-rateit-backingfld="#id_design" data-rateit-starwidth="15"
            data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">사용감</p>
        <input type="rating" name="texture" value="{{ review.texture.score }}" required="" id="id_texture" min="0" max="5" step="1"
            style="display: none;">
        <div id="star_id_texture" class="rateit svg" data-rateit-backingfld="#id_texture" data-rateit-starwidth="15"
            data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">가성비</p>
        <input type="rating" name="costEffetiveness" value="{{ review.costEffetiveness.score }}" required="" id="id_costEffetiveness" min="0" max="5" step="1"
             style="display: none;">
        <div id="star_id_costEffetiveness" class="rateit svg" data-rateit-backingfld="#id_costEffetiveness"
            data-rateit-starwidth="15" data-rateit-starheight="15"></div>
        <br>

        <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">장점</p>
    <textarea name="goodPoint" id="goodPoint" cols="101" rows="10" style="border: 1.5px solid #66666644;">{{ review.goodPoint }}</textarea>
    <br>

    <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">단점</p>
    <textarea name="weakPoint" id="weakPoint" cols="101" rows="10" style="border: 1.5px solid #66666644;" >{{ review.weakPoint }}</textarea>
    <br>

    <p class="h6" style="text-align: left; font-family: 'yg-jalnan';">태그 목록(공백 문자로 구분됩니다.)</p>
    <textarea name="rawTagString" id="rawTagString" cols="101" rows="2" style="border: 1.5px solid #66666644;">{{ review.rawTagString }}</textarea>
    <br>
    <button type="submit" class="modify-btn" style="font-family:'NanumSquareRound'; font-size: 19px;">수정 완료</button>
    </form>
{% endblock %}