{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>리뷰 상세 정보</title>
<!-- 리뷰 상세 정보가 노출됨. 여기서 리뷰의 수정/삭제에 접근함.  -->
{% endblock %}

{% block content %}
<a href="{% url 'productDetail' review.product.id %}">제품 보기</a>

{% if review.modified %}
<div>{{ review.pub_date | date:"Y년 m월 d일 a h시 i분" }}에 수정됨</div>
{% else %}
<div>{{ review.pub_date | date:"Y년 m월 d일 a h시 i분" }}에 작성됨</div>
{% endif %}

<div>작성자 : {{ author }}</div>
<div>제품명 : {{ product }}</div>
<div>한줄평 : {{ comment }} </div>
<div>장점 : {{ goodPoint }}</div>
<div>단점 : {{ weakPoint }}</div>
<br>

<div>{{totalScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{totalScore.score}}" data-rateit-readonly="true" data-rateit-starwidth="15"
    data-rateit-starheight="15"></div>

<div>{{gripScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{gripScore.score}}" data-rateit-readonly="true"
    aria-valuenow="{{gripScore.score}}" data-rateit-starwidth="15" data-rateit-starheight="15"></div>

<div>{{lifeScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{lifeScore.score}}" data-rateit-readonly="true" data-rateit-starwidth="15"
    data-rateit-starheight="15"></div>

<div>{{durabilityScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{durabilityScore.score}}" data-rateit-readonly="true"
    data-rateit-starwidth="15" data-rateit-starheight="15"></div>

<div>{{designScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{designScore.score}}" data-rateit-readonly="true" data-rateit-starwidth="15"
    data-rateit-starheight="15"></div>

<div>{{textureScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{textureScore.score}}" data-rateit-readonly="true"
    data-rateit-starwidth="15" data-rateit-starheight="15"></div>

<div>{{costEffetivenessScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{costEffetivenessScore.score}}" data-rateit-readonly="true"
    data-rateit-starwidth="15" data-rateit-starheight="15"></div>

<div>{{versatilityScore.name}}</div>
<div class="rateit svg" data-rateit-value="{{versatilityScore.score}}" data-rateit-readonly="true"
    data-rateit-starwidth="15" data-rateit-starheight="15"></div>

<hr>

<div style="text-align: right;">
    {{ likeMessage }}
    <a href="{% url 'reviewLikeProcess' review_id=review.id %}">
        {% if userLike %}
        <!-- 유저가 좋아요를 누른 경우 -->
        ❤️
        {% else %}
        <!-- 유저가 좋아요를 누르지 않은 경우 -->
        🖤
        {% endif %}
    </a>
</div>

<hr>

<form action="/store/commentCreate/{{ review.id }}" method="POST">
    {% csrf_token %}
    <input type="text" name="body">
    <button type="submit">작성</button>
</form>

{% for comment in comments %}
<div class="card">
    <div class="card-header">
        {{ comment.author.nickname }}
    </div>
    <div class="card-body">
        {{ comment.body }}
    </div>
    <div class="card-footer">
        on {{ comment.pub_date | date:"Y/m/d a h:i"}}
        <a href="{% url 'commentDelete' comment.id %}">댓글 삭제</a>
    </div>
</div>
<br>
{% endfor %}

<hr>

<div>태그 목록</div>
{% for tag in tags %}
<div style="font-weight: bold;">{{ tag }}</div>
{% endfor %}

<hr>


{% if isAuthor %}
<div><a href="{% url 'reviewModify' review.id %}">리뷰 수정</a></div>

<!-- Button trigger modal -->
<a href="" data-toggle="modal" data-target="#exampleModal">게시글 삭제하기</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">리뷰 {{ review.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <a href="{% url 'reviewDelete' review.id %}"><button type="button" class="btn btn-danger">예</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}