{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>새 리뷰 작성</title>
<!-- 계정 유형과 관계 없이 로그인만 되어 있으면 리뷰 작성이 가능함
     해당 템플릿은 제품 상세 정보(productDetail.html)에서 접근 가능한 템플릿. -->
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    한줄평 <br>
    <input type="text" name="comment" id="comment">
    <br>

    장점 <br>
    {{form.goodPoint}}
    <br>

    단점 <br>
    {{form.weakPoint}}
    <br>

    태그(띄어쓰기로 구분) <br>
    {{ form.rawTagString }}
    <br>


    총점 <br>
    <input type="rating" name="totalScore" value="0" required="" id="id_totalScore" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_totalScore" class="rateit svg" data-rateit-backingfld="#id_totalScore" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    그립감 <br>
    <input type="rating" name="grip" value="0" required="" id="id_grip" min="0" max="5" step="1" style="display: none;">
    <div id="star_id_grade" class="rateit svg" data-rateit-backingfld="#id_grip" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    수명 <br>
    <input type="rating" name="life" value="0" required="" id="id_life" min="0" max="5" step="1" style="display: none;">
    <div id="star_id_life" class="rateit svg" data-rateit-backingfld="#id_life" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    내구도 <br>
    <input type="rating" name="durability" value="0" required="" id="id_durability" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_durability" class="rateit svg" data-rateit-backingfld="#id_durability" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    디자인 <br>
    <input type="rating" name="design" value="0" required="" id="id_design" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_design" class="rateit svg" data-rateit-backingfld="#id_design" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    사용감 <br>
    <input type="rating" name="texture" value="0" required="" id="id_texture" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_texture" class="rateit svg" data-rateit-backingfld="#id_texture" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>

    가성비 <br>
    <input type="rating" name="costEffetiveness" value="0" required="" id="id_costEffetiveness" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_costEffetiveness" class="rateit svg" data-rateit-backingfld="#id_costEffetiveness"
        data-rateit-starwidth="15" data-rateit-starheight="15"></div>
    <br>

    범용성 <br>
    <input type="rating" name="versatility" value="0" required="" id="id_versatility" min="0" max="5" step="1"
        style="display: none;">
    <div id="star_id_versatility" class="rateit svg" data-rateit-backingfld="#id_versatility" data-rateit-starwidth="15"
        data-rateit-starheight="15"></div>
    <br>
    <br>

    <div style="color: red;">이미지를 등록하지 않으면 제품 대표 이미지로 대체됩니다.</div>
    이미지1
    <br>
    <div>
        {{ form.reviewImage1 }}
    </div>
    <br>


    <a href="#imageUploader2" data-toggle="collapse" aria-expanded="false" aria-controls="imageUploaderCollapse2" data-target="#imageUploaderCollapse2">
        이미지2
    </a>
    <div class="collapse" id="imageUploaderCollapse2">
        {{ form.reviewImage2 }}
    </div>
    <br>

    <a href="#imageUploader3" data-toggle="collapse" aria-expanded="false" aria-controls="imageUploaderCollapse3" data-target="#imageUploaderCollapse3">
        이미지3
    </a>
    <div class="collapse" id="imageUploaderCollapse3">
        {{ form.reviewImage3 }}
    </div>
    <br>

    <a href="#imageUploader4" data-toggle="collapse" aria-expanded="false" aria-controls="imageUploaderCollapse4" data-target="#imageUploaderCollapse4">
        이미지4
    </a>
    <div class="collapse" id="imageUploaderCollapse4">
        {{ form.reviewImage4 }}
    </div>
    <br>

    <a href="#imageUploader5" data-toggle="collapse" aria-expanded="false" aria-controls="imageUploaderCollapse5" data-target="#imageUploaderCollapse5">
        이미지5
    </a>
    <div class="collapse" id="imageUploaderCollapse5">
        {{ form.reviewImage5 }}
    </div>
    <br>

    <a href="#imageUploader6" data-toggle="collapse" aria-expanded="false" aria-controls="imageUploaderCollapse6" data-target="#imageUploaderCollapse6">
        이미지6
    </a>
    <div class="collapse" id="imageUploaderCollapse6">
        {{ form.reviewImage6 }}
    </div>
    <br>

    <button type="submit">리뷰 작성</button>
</form>
{% endblock %}