{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 검색 메인 페이지</title>
<!-- 아무 것도 입력되지 않은 검색 페이지로, 해당 페이지에서 검색을 누르면 searchResult.html로 넘어간다. -->
{% endblock %}

{% block content %}

{% if error %}
<h1 style="color: red; text-align: center;">{{ ERROR_MESSAGE }}</h1>
{% endif %}

<div id="accordion" style="text-align: center;">
    <form action="{% url 'keywordSearchResult' %}" method="GET">
        <div class="card">
            <div id="headingOne" class="card-header collapsed" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                키워드 검색
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div>입력받은 키워드가 제품명에 포함된 제품을 검색합니다.</div>
                    <input type="search" name="keywordQuery">
                    <input type="text" name="sort" value="popularity" style="display: none; visibility: hidden;">
                    <input type="submit" value="검색">
                </div>
            </div>
        </div>
    </form>

    <form action="{% url 'tagSearchResult' %}" method="GET">
        <div class="card">
            <div id="headingTwo" class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                태그 검색
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div>공백으로 나뉘어 입력된 태그들과 적어도 하나 겹치는 제품을 검색합니다.</div>
                    <input type="search" name="tagQuery">
                    <input type="submit" value="검색">
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}