{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>제품 검색 결과</title>
<!-- 제품 검색 결과 리스트가 노출되며, Pagination을 사용할 경우 url이 살짝 달라질 수도 있다.
     각 제품 목록 구성 요소를 클릭하면 productDetail.html로 넘어간다. -->
{% endblock %}

{% block content %}

<h3>{{ statusMessage }}</h3>

{% for product in searchResult %}
<div><a href="{% url 'productDetail' product.id %}">{{ product }}</a></div>
{% endfor %}

{% if searchResult.has_previous %}
<a href="?page=1">맨 앞으로</a>
<a href="?page={{ searchResult.previous_page_number }}">이전으로</a>
{% endif %}
<span>{{ searchResult.number }}</span>
<span>/</span>
<span>{{ searchResult.paginator.num_pages }}</span>
{% if searchResult.has_next %}
<a href="?page={{ searchResult.next_page_number }}">다음으로</a>
<a href="?page={{ searchResult.paginator.num_pages }}">맨 뒤로</a>
{% endif %}

{% endblock %}