{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>문구점 판매 정보 생성</title>
<!-- 제품별 문구점 판매 정보를 새로 작성하는 페이지 -->
<style>
    article {
        padding: 2rem;
        margin: 0 auto;
    }
    div {
        font-family: 'yg-jalnan';
    }
    .elementContainer {
        margin: 2.5rem auto;
        width: 40%;
        text-align: center;
    }
    input {
        margin-bottom: 2rem;
    }
</style>
{% endblock %}

{% block content %}

<article>
    <!-- 위치 정보가 입력되지 않은 경우 -->
    {% if nullLocation %}
    <div>위치 정보가 입력되지 않았습니다!</div>
    <div><a href="{% url 'setLocation' %}">위치정보 입력하기</a></div>
    <!-- 위치 정보가 입력된 경우 -->
    {% else %}
        {% if alreadyExists %}
        <div>이미 판매 정보를 등록하셨습니다!</div>
        <div><a href="{% url 'productDetail' product.id %}">돌아가기</a></div>
        <div><a href="{% url 'stationerSellInfoModify' product_id=product.id stationerSellInfo_id=createdInfo.id %}">수정하기</a></div>
        {% else %}
            <div class="elementContainer">
                <h5 style="color: gray;">제품명</h5>
                <h6 style="color: gray;">{{ product.name }}</h6>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="checkout__form__input elementContainer">
                    <h4>가격</h4>
                    {{ form.price }}
                    
                    <br><br>
                    <button class="btn btn-warning">등록</button>
                </form>
        {% endif %}
    {% endif %}
</article>

{% endblock %}