{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>웹 판매 정보 생성</title>
<!-- 제품별 웹 판매 정보를 새로 작성하는 페이지 -->
<style>
    article {
        padding: 2rem;
        margin: 0 auto;
    }
    article {
        font-family: 'yg-jalnan';
    }
    .elementContainer {
        margin: 2.5rem auto;
        width: 40%;
        text-align: center;
    }
    input {
        margin-bottom: 2rem;
        text-align: center;
        font-family: 'yg-jalnan';
    }
</style>
{% endblock %}

{% block content %}

<article >
    <!-- 이미 판매 정보를 등록한 경우 -->
    {% if alreadyExists %}
    <div style="font-family: 'yg-jalnan';">이미 판매 정보를 등록하셨습니다!</div>
    <div style="font-family: 'yg-jalnan';"><a href="{% url 'productDetail' product.id %}">돌아가기</a></div>
    <div style="font-family: 'yg-jalnan';"><a href="{% url 'webSellInfoModify' product_id=product.id webSellInfo_id=createdInfo.id %}">수정하기</a></div>

    <!-- 판매 정보를 등록한 적이 없는 경우 -->
    {% else %}
    <div class="elementContainer">
        <h5 style="color: gray; font-family: 'yg-jalnan';">제품명</h5>
        <h6 style="color: gray; font-family: 'yg-jalnan';">{{ product.name }}</h6>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="checkout__form__input elementContainer">
            <h4 style="font-family: 'yg-jalnan'; margin-bottom: 0.5rem;">가격</h4>
            {{ form.price }}
        </div>
        <div class="checkout__form__input elementContainer">
            <h4 style="font-family: 'yg-jalnan'; margin-bottom: 0.5rem;">판매 링크</h4>
            {{ form.link }}
        </div>
        
        <div style="text-align: center;">
            <input type="submit" class="btn btn-warning" value="등록">
        </div>
    </form>
    {% endif %}
</article>

{% endblock %}