{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>판매자 유형 결정 페이지</title>
<!-- 웹 판매자 / 문구점 사장님 -->
{% endblock %}

{% block content %}
<h3 style="text-align: center; padding: 1em 3rem 0 3rem; font-family: 'yg-jalnan'; color:#663e27;">
    Q. 온라인 판매자이신가요, 오프라인 판매자이신가요?</h3><br><br>
<div style="text-align: center;">
<a href="{% url 'webSellerSignUp' %}"><button type="submit" class="site-btn" style="font-family:'yg-jalnan';">웹/모바일(온라인) 판매자입니다</button></a> <br> <br>
<a href="{% url 'stationerSignUp' %}"><button type="submit" class="site-btn" style="font-family:'yg-jalnan';">오프라인(문구점)판매자입니다</button></a> <br>
<br><br><br><br>
</div>
{% endblock %}