{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>일반 리뷰어 회원가입 페이지</title>
{% endblock %}

{% block content %}
<div>일반 리뷰어 회원가입 페이지</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    아이디 : {{ form.username }}
    <br>
    비밀번호 : {{ form.password1 }}
    <br>
    비밀번호 확인 : {{ form.password2 }}
    <br>
    이메일 : {{ form.email }}
    <br>
    닉네임 : {{ form.nickname }}
    <br>
    소개글 <br>
    {{ form.introduce }}
    <br>
    프로필 이미지 : {{ form.image }}
    <br>
    연령대 : {{ form.age }}
    <br>
    직업 : {{ form.job }}
    <br>
    주 사용 용도 : {{ form.usage }}
    <br>
    관심있는 펜 종류 1 : {{form.penInterest_1}}
    <br>
    관심있는 펜 종류 2 : {{form.penInterest_2}}
    <br>
    관심있는 펜 종류 3 : {{form.penInterest_3}}
    <br>
    <hr>
    <br>

    하단에 띄어쓰기로 구분해서 입력받으면 관련 태그를 추가하는 방식
    <input type="submit">
</form>
{% endblock %}