{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>일반 리뷰어 회원가입 페이지</title>
{% endblock %}

{% block content %}
<div>일반 리뷰어 회원가입 페이지</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    아이디 : {{ form.username }} <span>150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span>
    <br>
    <br>
    <div>
        <div>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</div>
        <div>비밀번호는 최소 8자 이상이어야 합니다.</div>
        <div>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</div>
        <div>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</div>
    </div>
    비밀번호 : {{ form.password1 }}
    <br>
    비밀번호 확인 : {{ form.password2 }}
    <br>
    이메일 : {{ form.email }}
    <br>
    닉네임 : {{ form.nickname }}
    <br>
    소개글 <br>
    {{ form.introduce }}
    <br>
    프로필 이미지 : {{ form.image }}
    <br>
    연령대 : {{ form.age }}
    <br>
    직업 : {{ form.job }}
    <br>
    주 사용 용도 : {{ form.usage }}
    <br>
    관심있는 펜 종류 1 : {{form.penInterest_1}}
    <br>
    관심있는 펜 종류 2 : {{form.penInterest_2}}
    <br>
    관심있는 펜 종류 3 : {{form.penInterest_3}}
    <br>
    태그(하단 입력창에 유저의 특징을 나타내는 태그를 '띄어쓰기'로 구분해 입력한다.)
    <br>
    {{ form.rawTagString }}
    <br>
    <input type="submit" value="다음 단계로">
</form>
{% endblock %}