{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>일반 리뷰어 회원가입 페이지</title>
<link rel="stylesheet" href="{% static 'css/signUp.css' %}">
<style>
    .filebox label {
        display: inline-block;
        padding: .5em .75em;
        color: #999;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: #fdfdfd;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
    }

    .filebox input[type="file"] {
        /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
</style>
{% endblock %}

{% block content %}
<h3 style="text-align: center; padding: 1em 3rem 0 3rem; font-family: 'yg-jalnan'; color:#663e27;">
    A. 안녕하세요,리뷰어님! 회원가입 정보를 기입해주세요.</h3><br><br>

<!-- 아이디 기입 관련 -->

<form method="POST" enctype="multipart/form-data" class="checkout__form" style="text-align: center;">
    {% csrf_token %}
    <div class="checkout__form__input">
        <p>ID <span>*</span> </p>
        {{ form.username }}
    </div>
    <span style="color: gray; font-size: 13px;">*ID는 150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span>
    <br><br><br>

    <!-- 패스워드 기입 관련 -->

    <div class="checkout__form__input">
        <p>Password <span>*</span></p>
        {{ form.password1 }}
    </div>
    <div class="checkout__form__input">
        <p>Again <span>*</span></p>
        {{ form.password2 }}
    </div>
    <div id="password_guide">
        <p style="font-size: 8x;">*비밀번호는 최소 8자 이상이어야 합니다.</p>
        <p style="font-size: 8x;">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
    </div>
    <br><br>

    <!-- 패스워드 기입 관련 끝-->

    <div class="checkout__form__input">
        <p>E-MAIL <span>*</span></p>
        {{ form.email }}
    </div>
    <br>

    <div class="checkout__form__input">
        <p>NICKNAME <span>*</span></p>
        {{ form.nickname }}
    </div>
    <br>

    <p style=" color: gray; font-size: 8x;">간단한 자기소개를 남겨주세요 !</p>
    {{ form.introduce }}
    <br>

    <div>
        <p>PROFILE IMAGE</p>
        <!-- <input type="file" name="image" accept="image/*" id="id_image"> -->
        <div class="filebox">
            <label for="fileUpload">업로드</label>
            <input type="file" id="fileUpload" name="image" accept="image/*" id="id_image">
        </div>
    </div>
    <br>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 50%; margin-left: 450px;">
        <div>
            <div>AGE</div>
            {{ form.age }}
        </div>

        <div>
            <div>JOB</div>
            {{ form.job }}
        </div>

        <div>
            <div>USAGE</div>
            {{ form.usage }}
        </div>
    </div>

    <br>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 50%; margin-left: 450px;">
        <div>
            <div>PEN 1</div>
            {{form.penInterest_1}}
        </div>
        <div>
            <div>PEN 2</div>
            {{form.penInterest_2}}
        </div>
        <div>
            <div>PEN 3</div>
            {{form.penInterest_3}}
        </div>
    </div>
    <br><br> <br> <br>

    <div class="checkout__form__input">
        <p>TAG <span style="color: gray;">관심있는 키워드 해쉬태그를 지정하세요 (공백문자로 구분해 입력)</span></p>
    </div>
    {{ form.rawTagString }}
    <br>

    <input type="submit" class="site-btn" value="다음 단계로">
</form>
<br><br> <br> <br>

<script>
    $(document).ready(function () {
        var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function () { // 값이 변경되면
            if (window.FileReader) { // modern browser
                var filename = $(this)[0].files[0].name;
            } else { // old IE
                var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
            }
            // 추출한 파일명 삽입
            $(this).siblings('.upload-name').val(filename);
        });
    });
</script>

{% endblock %}