{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>웹 판매자 회원가입 페이지</title>
<link rel="stylesheet" href="{% static 'css/signUp.css' %}">
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="checkout__form">
    {% csrf_token %}
    <div class="checkout__form__input">
        <p>ID <span>*</span>
            <span style="color: gray;">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span> </p>
        {{ form.username }}
    </div>
    <br>

    <div id="password_guide">
        <p>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</p>
        <p>비밀번호는 최소 8자 이상이어야 합니다.</p>
        <p>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</p>
        <p>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
    </div>
    <div class="checkout__form__input">
        <p>Password <span>*</span></p>
        {{ form.password1 }}
    </div>
    <div class="checkout__form__input">
        <p>Again <span>*</span></p>
        {{ form.password2 }}
    </div>
    <br>

    <div class="checkout__form__input">
        <p>E-MAIL <span>*</span></p>
        {{ form.email }}
    </div>
    <br>

    <div class="checkout__form__input">
        <p>NICKNAME <span>*</span></p>
        {{ form.nickname }}
    </div>
    <br>

    INTRODUCE <br>
    {{ form.introduce }}
    <br>

    <div>
        <span>PROFILE_IMAGE</span><br>
        <input type="file" name="image" accept="image/*" id="id_image">
    </div>
    <br>

    <div class="checkout__form__input">
        <p>TEL<span>*</span></p>
        {{ form.telephone }}
    </div>
    <br>

    <div class="checkout__form__input">
        <p>LINK<span>*</span></p>
        {{ form.link }}
    </div>
    <br>

    <input type="submit">
</form>
{% endblock %}