/* base.html에 적용될 웹페이지 공통 CSS */

/* 헤더의 계정 정보(로그인 등) 메뉴 우측정렬 */
header > div {
    text-align: right;
}

/* 프로필 이미지를 원 모양으로 만들기 */
.profileBox {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}
.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 카카오맵 관련 */
.map_wrap {
    position: relative;
    width: 100%;
    height: 350px;
}

.title {
    font-weight: bold;
    display: block;
}

.hAddr {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 5px;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.bAddr {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}