/* base.html에 적용될 웹페이지 공통 CSS */

/* 헤더의 계정 정보(로그인 등) 메뉴 우측정렬 */
header>div {
    text-align: right;
}

/* 프로필 이미지를 원 모양으로 만들기 */
.profileBox {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}

.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 카카오맵 관련 */
.map_wrap {
    position: relative;
    width: 100%;
    height: 350px;
}

.title {
    font-weight: bold;
    display: block;
}

.hAddr {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 5px;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.bAddr {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* rateit 관련 */
div.svg div.rateit-range {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4Ij4NCiAgPHRleHQgeD0iMCIgeT0iMTUiIGZpbGw9ImJsYWNrIiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=')
        /*star-normal.svg*/
    ;
    *background: url(star-normal.svg);
    /* For IE 6 and 7 */
}

div.svg div.rateit-hover {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiPg0KICA8dGV4dCB4PSIwIiB5PSIxNSIgZmlsbD0ieWVsbG93IiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=')
        /*star-hover.svg*/
    ;
    *background: url(star-hover.svg);
    /* For IE 6 and 7 */
}

div.svg div.rateit-selected {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiPg0KICA8dGV4dCB4PSIwIiB5PSIxNSIgZmlsbD0icmVkIiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=')
        /*star-selected.svg*/
    ;
    *background: url(star-selected.svg);
    /* For IE 6 and 7 */
}

div.svg div.rateit-preset {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj4NCiAgPHRleHQgeD0iMCIgeT0iMTUiIGZpbGw9ImJsYWNrIiBmb250LXNpemU9IjE1Ij7inKY8L3RleHQ+DQo8L3N2Zz4=')
        /*star-preset.svg*/
    ;
    *background: url(star-preset.svg);
    /* For IE 6 and 7 */
}

/* 링크 네비게이션 */
#link_nav {
    width: 70%;
    margin: 0 auto;
}