{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- 외부 템플릿 -->
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


    
    <!-- 카카오맵 api 키 -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e25c2ec22bea3e3b076ea3d30a2377&libraries=services"> </script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- fontAwesome Icons -->
    <script src="https://use.fontawesome.com/36b6876fe9.js"></script>

    <!-- 별점 관련 -->
    <link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    <!-- 웹 페이지 아이콘 -->
    <link rel="icon shortcut" type="image/x-icon" href="{% static '/img/common/lionIcon.png' %}">

    <!-- head block : title / static을 추가-->
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        {% if user.image.url != "" %}
        <div class="profileBox">
            <img class="profileImage" src="{{ user.image.url }}" alt="프로필 이미지">
        </div>
        {% endif %}
        <div>{{user.nickname}}님, 어서오세요!</div>
        <div><a href="{% url 'myPage' %}">마이페이지</a></div>
        <div><a href="{% url 'logOut' %}">로그아웃</a></div>
        {% else %}
        <div><a href="{% url 'selectCustomerType' %}">회원가입</a></div>
        <div><a href="{% url 'logIn' %}">로그인</a></div>
        {% endif %}

        <div><a href="{% url 'mainPage' %}">홈으로 가기</a></div>

    </header>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt="">사자네 문방구</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'redirectByCategoryName' '볼펜' %}">볼펜</a></li>
                            <li><a href="{% url 'redirectByCategoryName' '만년필' %}">만년필</a></li>
                            <li><a href="{% url 'redirectByCategoryName' '캘리그라피펜' %}">캘리그라피펜</a></li>
                            <li><a href="{% url 'redirectByCategoryName' '연필' %}">연필</a></li>
                            <li><a href="{% url 'redirectByCategoryName' '색연필' %}">색연필</a>
                            <li><a href="{% url 'redirectByCategoryName' '형광펜' %}">형광펜</a>
                            <li><a href="{% url 'redirectByCategoryName' '샤프펜슬' %}">샤프펜슬</a>
                            <li><a href="{% url 'redirectByCategoryName' '유성펜' %}">유성펜</a>
                            <li><a href="{% url 'redirectByCategoryName' '사인펜' %}">사인펜</a>
                            <li><a href="{% url 'redirectByCategoryName' '젤펜' %}">젤펜</a>
                            <li><a href="{% url 'redirectByCategoryName' '기타' %}">기타</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">형광펜</a></li>
                                    <li><a href="./shop-cart.html">샤프펜슬</a></li>
                                    <li><a href="./checkout.html">유성펜</a></li>
                                    <li><a href="./blog-details.html">사인펜</a></li>
                                    <li><a href="./blog-details.html">젤펜</a></li>
                                    <li><a href="./blog-details.html">기타</a></li>
                                </ul>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">                        
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    {% include 'footer.html' %}
</body>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>