{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 카카오맵 api 키 -->
    <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e25c2ec22bea3e3b076ea3d30a2377&libraries=services"> </script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- 별점 관련 -->
    <link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    <!-- 웹 페이지 아이콘 -->
    <link rel="icon shortcut" type="image/x-icon" href="{% static '/img/common/lionIcon.png' %}">
    
    <!-- head block : title / static을 추가-->
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        {% if user.image.url != "" %}
        <div class="profileBox">
            <img class="profileImage" src="{{ user.image.url }}" alt="프로필 이미지">
        </div>
        {% endif %}
        <div>{{user.nickname}}님, 어서오세요!</div>
        <div><a href="{% url 'myPage' %}">마이페이지</a></div>
        <div><a href="{% url 'logOut' %}">로그아웃</a></div>
        <div><a href="{% url 'productRequestList' %}">상품 등록</a></div>
        {% else %}
        <div><a href="{% url 'selectCustomerType' %}">회원가입</a></div>
        <div><a href="{% url 'logIn' %}">로그인</a></div>
        {% endif %}

        <div><a href="{% url 'mainPage' %}">홈으로 가기</a></div>

    </header>

    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <a href="{% url 'randomLike' %}">랜덤 좋아요</a>
    <br>
</body>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</html>