{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="iconContainer">
        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
    </div>

    <div class="linkContainer">
        이용약관 | 개인정보 처리방침 | 자주 묻는 질문
    </div>

    <div id="lionStoreTitle">
        사자네 문방구
    </div>
</footer>