{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="iconContainer" style="font-family: 'yg-jalnan'; font-size: 12px; color:#663e27;">
        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
    </div>

    <div class="linkContainer" style="font-family: 'yg-jalnan'; font-size: 15px; color:#663e27;">
        <span onclick="play()">박유빈</span> | 이현수 | 김시은 | 이예진 | 강영진 <br> 
        <audio id='audio_play' src="{% static 'sounds/catSound.wav' %}"></audio> 
    </div>

    
    <div id="lionStoreTitle" style="font-family: 'yg-jalnan'; font-size: 11px; color:#663e27;">
        ❤ 사자네 문방구는 건강한 문구류 이용 생활을 지향합니다 ❤<br><br>

        <a href="{% url 'mainPage' %}"><img src="{% static '/img/common/lionStore_logo.png' %}" alt="사자네 문방구 로고"
            style="width: 250px; height: 45px"></a>

    <!-- <div id="lionStoreTitle" style="font-family: 'yg-jalnan'; font-size: 30px; color:#663e27;">
        <br>사자네 문방구 -->
    </div>
</footer>

<script type="text/javascript"> 
    function play() { 
        var audio = document.getElementById('audio_play'); 
        if (audio.paused) { 
            audio.play(); 
        }else{ 
            audio.pause(); 
            audio.currentTime = 0 
        } 
    } 
    </script>