{% load static %}

<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/kopubbatang.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" rel="stylesheet">
<style>
 @font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.gridContainer {
    font-family: 'yg-jalnan';
}
</style>

<div class="gridContainer"
    style="display: grid; grid-template-rows: 1fr; grid-template-columns: 1fr 4fr 0.7fr; padding: 1rem;">
    <div style="text-align: left; margin: auto 2rem;">
        <a href="{% url 'mainPage' %}"><img src="{% static '/img/common/lionStore_logo.png' %}" alt="사자네 문방구 로고"
                style="width: 650px; height: 35px"></a>
    </div>


    <div class="footer__newslatter" style="margin: auto 2rem;">
        <form action="{% url 'keywordSearchResult' %}" method="GET" style="margin-bottom: 0px;">
            <input type="text" name="keywordQuery">
            <input type="text" name="sort" value="popularity" style="display: none; visibility: hidden;">
            <button type="submit" class="site-btn" style="font-family:'Noto Sans KR', sans-serif;">제품 검색</button>
        </form>
    </div>


    {% if user.is_authenticated %}
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">

        <div style="display: grid; grid-template-rows: 0.5fr 0.5fr; text-align: center;">
            <img class="profileImage" src="{{ user.image.url }}" alt="프로필 이미지"
            style="max-width: 30px; max-height: 30x; width: auto; height: auto; display: block; margin:0px auto;">
            <a href="{% url 'myPage' %}">마이페이지</a>
        </div>
        <div style="display: grid; grid-template-rows: 1fr 1fr; text-align: center;">
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
            <a href="{% url 'logOut' %}">로그아웃</a>
        </div>
        <div style="display: grid; grid-template-rows: 1fr 1fr; text-align: center;">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
            <a href="{% url 'newProductRequest' %}">상품 등록</a>
        </div>
    </div>
    {% else %}
    <div>
        <span><a href="{% url 'selectCustomerType' %}">SignUp</a></span>/
        <span><a href="{% url 'logIn' %}">SignIn</a></span>
    </div>
    {% endif %}
</div>
<nav class="header__menu" style="text-align: center; font-family: 'yg-jalnan';">
    <ul>
        <li><a href="{% url 'redirectByCategoryName' '볼펜' %}">볼펜</a></li>&nbsp;&nbsp;
        <li><a href="{% url 'redirectByCategoryName' '만년필' %}">만년필</a></li>&nbsp;&nbsp;
        <li><a href="{% url 'redirectByCategoryName' '캘리그라피펜' %}">캘리그라피펜</a></li>&nbsp;&nbsp;
        <li><a href="{% url 'redirectByCategoryName' '연필' %}">연필</a></li>&nbsp;
        <li><a href="{% url 'redirectByCategoryName' '색연필' %}">색연필</a>
        <li><a href="{% url 'redirectByCategoryName' '형광펜' %}">형광펜</a>
        <li><a href="{% url 'redirectByCategoryName' '샤프펜슬' %}">샤프펜슬</a>
        <li><a href="{% url 'redirectByCategoryName' '유성펜' %}">유성펜</a>
        <li><a href="{% url 'redirectByCategoryName' '사인펜' %}">사인펜</a>
        <li><a href="{% url 'redirectByCategoryName' '젤펜' %}">젤펜</a>
        <li><a href="{% url 'redirectByCategoryName' '기타' %}">기타</a>
    </ul>
</nav>